h1{
    color: red;
}

#pass{
    color: green;
}
#fail{
    color: red;
}

#overflow{
    height: 300px;
    overflow-y: auto;
    width: 600px; 
}

th,td{
    padding: 3px 15px;
    width: 195px;
}

thead > tr, tbody{
    display:block;
}
