{% extends "index.html" %}
    {% block content %}
    <table class="table table-bordered" style="width:600px">
                <thead>
                    <th> Date </th>
                    <th> Case </th>
                    <th> Resl </th>
                </thead>
            <tbody id='overflow'>
            {% for result in data %}
                <tr>
                <td> {{ result.date }} </td>
                <td> {{result.application}} </td>
                {% if  result.result == True %}
                    <td id='pass'> {{result.result}} </td>
                {% else %}
                    <td id='fail'> {{result.result}} </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
    </table>
    
        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var data = {
                    labels: {{ line_data|safe }},
                    datasets: [
                        {
                            label: "Site Registrations in the Last 30 Days",
                            fillColor: "rgba(220,220,220,0.2)",
                            strokeColor: "rgba(220,220,220,1)",
                            pointColor: "rgba(220,220,220,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: {{ counts }},
            }
                ],
            };
            var ctx = document.getElementById("myChart").getContext("2d");
            var myLineChart = new Chart(ctx).Line(data);
            });
        </script> 

        <canvas id="myChart" width="500" height="300"></canvas>
        



    {% endblock  %}